@font-face {
  font-family: "Monoton";   /*Can be any text*/
  src: local("monoton.regular"),
    url("./assets/fonts/monoton.regular.ttf") format("truetype");
}

.App {
  text-align: center;
}

h1 {
  font-family: "Monoton";
  font-size: 50px;
  font-weight: 100;
}